<nav class="navbar">
    <div class="logo">
        <a href="/">
        <img src="images/Logo.png" alt="Logo" />
        </a>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <% if (ProjectText) { %>
        <div class="project-container">
            <span class="project-text">Projects</span>
        </div>
    <% } %>
</nav>